<div class="container">
  <div class="p-grid">

    <div class="p-col-12 mb-3">
      <h1>Atendimento</h1>
    </div>
    <div><label>Em Espera</label></div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="emEspera" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th class="name-column">Nome</th>
              <th>Chegou ás</th>
              <th>Marcado para</th>
              <th>Profissional</th>
              <th class="button-column"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedidoEmEspera>
            <tr>
              <td>{{ pedidoEmEspera.cliente.nome }}</td>
              <td>{{ pedidoEmEspera.inicioEspera | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ pedidoEmEspera.horario | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="profissional-column" >{{ pedidoEmEspera.profissional?.nome ? pedidoEmEspera.profissional.nome : 'Sem Prefencia'}}</td>
              <td class="button-column">
                <p-button icon="pi pi-check-square" class="button-spacing" pTooltip="Em atendimento" tooltipPosition="top"
                (click)="confirmarPedidoParaAtendimento(pedidoEmEspera)"></p-button>
                <p-button icon="pi pi-user-edit" class="button-spacing" pTooltip="Alterar Profissional" tooltipPosition="top"
                (click)="alterarProfissional(pedidoEmEspera)"></p-button>
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Cancelar" tooltipPosition="top"
                (click)="confirmarCancelamentoPedido(pedidoEmEspera)"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button label="Adicionar Em Espera" (click)="adicionarEmEspera(true)"/>
    </div>


    <div><label>Em Atendimento</label></div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="emAtendimento" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th class="name-column">Nome</th>
              <th>Inicio atendimento</th>
              <th>Profissional</th>
              <th class="button-column"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-emAtendimento>
            <tr>
              <td>{{ emAtendimento.cliente.nome }}</td>
              <td>{{ emAtendimento.inicioAtendimento | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ emAtendimento.profissional?.nome }}</td>
              <td class="button-column">
                <p-button icon="pi pi-shopping-cart" class="button-spacing" pTooltip="Carrinho" tooltipPosition="top"
                (click)="abrirCarrinho(emAtendimento)"></p-button>
                <p-button icon="pi pi-money-bill" class="button-spacing" pTooltip="Receber" tooltipPosition="top"
                (click)="pagamentoModal(emAtendimento)"></p-button>
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Cancelar" tooltipPosition="top"
                (click)="confirmarCancelamentoPedido(emAtendimento)"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button label="Adicionar Em Atendimento" (click)="adicionarEmEspera(false)" />
    </div>

    <app-em-espera-modal [isEmEspera]="isEmEspera" [(display)]="displayEmEspera"></app-em-espera-modal>
    <app-alterar-profissional-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayAlterarProfissional"
    (displayChange)="displayAlterarProfissional = $event" (profissionalAlterado)="atualizarTodosPedidos()"></app-alterar-profissional-modal>
    <app-carrinho-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayCarrinho" (pedidoAtualizado)="atualizarTodosPedidos()"></app-carrinho-modal>
    <app-pagamento-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayPagamentoModal" (pedidoPago)="pesquisarPedidosStatusPedido(statusEmAtendimento)"></app-pagamento-modal>
  </div>
</div>
