<div class="container">
  <div class="p-grid">

    <div class="p-col-12 mb-3">
      <h1>Atendimento</h1>
    </div>
    <div><label>Em Espera</label></div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="emEspera" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th class="name-column">Nome</th>
              <th>Chegou ás</th>
              <th>Marcado para</th>
              <th>Profissional</th>
              <th class="button-column"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-clientesEmEspera>
            <tr>
              <td>{{ clientesEmEspera.cliente.nome }}</td>
              <td>{{ clientesEmEspera.chegada | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ clientesEmEspera.horario | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="profissional-column" >{{ clientesEmEspera.profissional.nome }}</td>
              <td class="button-column">
                <p-button icon="pi pi-check-square" class="button-spacing" pTooltip="Em atendimento" tooltipPosition="top"
                (click)="confirmarPedidoParaAtendimento(clientesEmEspera)"></p-button>
                <p-button icon="pi pi-user-edit" class="button-spacing" pTooltip="Alterar Profissional" tooltipPosition="top"
                (click)="alterarProfissional(clientesEmEspera)"></p-button>
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Cancelar" tooltipPosition="top"
                (click)="confirmarCancelamentoPedido(clientesEmEspera)"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button icon="pi pi-user-plus" pTooltip="Adicionar em Espera" tooltipPosition="top" (click)="adicionarEmEspera(emEspera)"/>
    </div>


    <div><label>Em Atendimento</label></div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="emAtendimento" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th class="name-column">Nome</th>
              <th>Inicio atendimento</th>
              <th>Profissional</th>
              <th class="button-column"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-clientesEmAtendimento>
            <tr>
              <td>{{ clientesEmAtendimento.cliente.nome }}</td>
              <td>{{ clientesEmAtendimento.inicioAtendimento | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ clientesEmAtendimento.profissional.nome }}</td>
              <td class="button-column">
                <p-button icon="pi pi-shopping-cart" class="button-spacing" pTooltip="Carrinho" tooltipPosition="top"
                (click)="abrirCarrinho(clientesEmAtendimento)"></p-button>
                <p-button icon="pi pi-money-bill" class="button-spacing" pTooltip="Receber" tooltipPosition="top"
                (click)="pagamentoModal(clientesEmAtendimento)"></p-button>
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Cancelar" tooltipPosition="top"
                (click)="confirmarCancelamentoPedido(clientesEmAtendimento)"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button icon="pi pi-user-plus" pTooltip="Atendimento Direto" tooltipPosition="top"/>
    </div>

    <app-em-espera-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayEmEspera"></app-em-espera-modal>
    <app-alterar-profissional-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayAlterarProfissional"
    (displayChange)="displayAlterarProfissional = $event"></app-alterar-profissional-modal>
    <app-carrinho-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayCarrinho"></app-carrinho-modal>
    <app-pagamento-modal *ngIf="selectedPedido" [pedido]="selectedPedido" [(display)]="displayPagamentoModal" (pedidoPago)="pesquisarPedidosEmAtendimento()"></app-pagamento-modal>
  </div>
</div>
