<div class="container">
  <div class="p-grid">

    <div class="p-col-12 mb-3">
      <h1>Comissoes</h1>
    </div>
    <div class="item mb-3">
      <div class="p-fluid p-col-3">
        <label>Inicio</label>
        <input type="date" pInputText name="inicio"
        ngModel #dataInicio="ngModel" required>
      </div>
      <div class="p-fluid p-col-3 button-spacing">
        <label>Fim</label>
        <input type="date" pInputText name="fim"
        ngModel #dataFim="ngModel" required>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button label="Buscar" [disabled]="!dataInicio.valid || !dataFim.valid"/>
    </div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="comissoes" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 350px;">Nome</th>
              <th style="text-align: center;">Cliente Atendidos</th>
              <th style="text-align: center;" >TKM</th>
              <th style="text-align: center;" >Comissao</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-comissoes>
            <tr>
              <td>{{ comissoes.profissional }}</td>
              <td style="text-align: center;">{{ comissoes.clientesAtendidos }}</td>
              <td style="text-align: center;">{{ formatCurrency(comissoes.tkm)}}</td>
              <td style="text-align: center;">{{ formatCurrency(comissoes.comissao)}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  </div>
</div>
