<div class="container">
  <div class="p-grid">

    <div class="p-col-12 mb-3">
      <h1>Caixa</h1>
    </div>

    <div class="p-grid custom-grid mb-3">
      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Clientes</h3>
            <p>{{resultados.clientesAtendidos }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Dinheiro</h3>
            <p>{{ resultados.dinheiro | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Pix</h3>
            <p>{{resultados.pix | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Crédito</h3>
            <p>{{resultados.credito | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Débito</h3>
            <p>{{resultados.debito | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Voucher</h3>
            <p>{{resultados.voucher | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Pontos</h3>
            <p>{{resultados.pontos | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>

      <div class="p-col-12 p-md-3">
        <p-card [style]="{ height: '7vh', width: '9rem'}">
          <ng-template pTemplate="header">
            <h3>Total</h3>
            <p>{{resultados.total | currency:'BRL' }}</p>
          </ng-template>
        </p-card>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 mb-3">
        <p-table [value]="pedidos" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 450px;">Nome</th>
              <th style="width: 150px; text-align: center;" >Atendimento</th>
              <th style="text-align: center;">Profissional</th>
              <th style="width: 200px; text-align: center;">Forma de Pagamento</th>
              <th style="text-align: center; width: 100px;">Valor</th>
              <th style="width: 50px;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedido>
            <tr>
              <td>{{ pedido.cliente.nome }}</td>
              <td>{{ pedido.dataPagamento | date: 'dd/MM/yy HH:mm' }}</td>
              <td style="text-align: center;">{{ pedido.profissional.nome }}</td>
              <td style="text-align: center;">{{ pedido.formaPagamento }}</td>
              <td style="text-align: center;">{{ pedido.valorTotal | currency:'BRL'}}</td>
              <td class="button-column">
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Deletar" tooltipPosition="top"
                (click)="confirmarExclusaoPedido(pedido)"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12 mb-3">
      <p-button label="Fechar Caixa" (click)="confirmarFechamentoDeCaixa()"/>
    </div>

  </div>
</div>

