.name-column {
  width: 400px;
}

.item {
  display: flex;
  vertical-align: top;
}
p-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
}

p-card h3 {
  margin: 10px 5px;
  font-size: 1.2em;
}

p-card p {
  font-size: 1.0em;
  margin: 5px 15px;
}

.custom-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
