<p-dialog #dialog header="Detalhes do Produto" [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '35vw', 'max-width': '1280px', 'height': '70vh' }">
  <div *ngIf="produto">
    <p><strong>Nome: </strong> {{ produto.nome }}</p>
    <p><strong>Categoria: </strong> {{ produto?.categoria?.nome }}</p>
    <p><strong>Preço para cliente: </strong> {{ produto.preco | currency:  'BRL' }}</p>
    <p><strong>Preço de custo: </strong> {{ produto.precoCusto | currency:  'BRL' }}</p>
    <p *ngIf="produto.vendidoPorPonto"><strong>Vendido por pontos: </strong> {{ produto.precoEmPontos}}</p>
    <p><strong>Multiplicador de pontos (Cliente): </strong> {{ produto.pesoPontuacaoCliente }}x</p>
    <p><strong>Multiplicador de pontos (Profissional): </strong> {{ produto.pesoPontuacaoProfissional }}x</p>
    <p><strong>Comissão Base: </strong> {{ produto.comissaoBase }}%</p>
    <p><strong>Imagem do Produto: </strong></p>
    <img [src]="produto.imagemUrl || 'https://static.flaresenha.com/wp/camisa-flamengo.jpg'" alt="Imagem do Produto" width="400">


  </div>
</p-dialog>
