<p-dialog [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '80vw', 'max-width': '450px', 'height': '80vh', 'max-height': '550px' }">
  <div class="p-field p-grid">
    <div class="p-col-12 p-md-4">
      <h2> Selecionar Forma de Pagamento</h2>
      <p-dropdown [options]="formaPagamentoOptions" [(ngModel)]="formaPagamentoSelecionada"
    placeholder="Forma de Pagamento">
</p-dropdown>
    </div>
  </div>

  <div class="infoPedido">
    <h3>Valor Total:</h3>
    <h4>{{pedido?.valorTotal  | currency:'BRL' }}</h4>
  </div>
  <div class="infoPedido">
    <h3>Cliente:</h3>
    <h4>{{ pedido.cliente?.nome}}</h4>
  </div>
  <div class="infoPedido">
    <h3>Profissional:</h3>
    <h4>{{pedido.profissional?.nome }}</h4>
  </div>

  <div class="mb-3">
    <p-button label="Realizar pagamento" icon="pi pi-shopping-cart" (click)="realizarPagamento()"></p-button>
  </div>
</p-dialog>
