.button-spacing {
  margin-right: 0px !important;
}

.centralizado {
  display: flex;
  justify-content: center;
}

.button-column {
  width: 220px;
  flex-direction: row;
  text-align: center !important;
  padding: 0 !important;
}

.status-column {
  text-align: center !important;
}

.profissional-column {
  text-align: center !important;
}

.descricao-column {
  width: 300px !important;
  text-align: center !important;
  padding: 5 !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.max-col-3 {
  max-width: calc(100% / 12 * 3);
  flex-direction: column;
}








