<div class="container">
  <div class="p-grid">
    <br> <h1>Agendamento</h1>
    <form autocomplete="off" #agendamentoForm="ngForm">
      <div class="p-col-12 mb-3">
        <input type="date" pInputText name="data"
               [(ngModel)]="dataSelecionada" required>
        <p-button label="Selecionar Data" (click)="atualizarData()" class="button-spacing"/>
      </div>
      <div class="p-col-12 centralizado">
        <h2>{{dataFormatadaBr}}</h2>
      </div>
      <div class="p-col-12 mb-3 button-container">
        <p-button label="Novo Agendamento" type="submit" (click)="adicionarNovoAgendamento()"></p-button>
        <div class="button-group">
          <p-button icon="pi pi-arrow-left" type="submit" (click)="diaAnterior()"></p-button>
          <p-button label="Hoje" type="submit" (click)="voltarDataAtual()"></p-button>
          <p-button icon="pi pi-arrow-right" type="submit" (click)="proximoDia()"></p-button>
        </div>
      </div>
      <div class="p-col-12 mb-3">
        <p-table [value]="agendamentos" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
        [breakpoint]="'960px'">
          <ng-template pTemplate="header">
            <tr>
              <th>Horário</th>
              <th>Cliente</th>
              <th class="status-column">Status</th>
              <th class="profissional-column">Profissional</th>
              <th class="descricao-column">Descricao</th>
              <th class="button-column"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-agendamento>
            <tr>
              <td>{{ agendamento.horario | date: 'HH:mm' }}</td>
              <td>{{ agendamento.cliente?.nome ?? ' - '}}</td>
              <td class="status-column">{{ agendamento.statusPedido}}</td>
              <td class="profissional-column">{{ agendamento.profissional?.nome ?? ' Sem Preferencia' }}</td>
              <td class="descricao-column">{{ agendamento.descricao }}</td>
              <td class="button-column">
                <p-button icon="pi pi-check" class="button-spacing" pTooltip="Enviar para espera" tooltipPosition="top" (click)="confirmarPedidoParaAtendimento(agendamento)"></p-button>
                <p-button icon="pi pi-user-edit" class="button-spacing" pTooltip="Editar" tooltipPosition="top" (click)="editarAgendamento(agendamento)"></p-button>
                <p-button icon="pi pi-info-circle" class="button-spacing" pTooltip="Detalhar" tooltipPosition="top" (click)="datalhesAgendamento(agendamento)" datalhesAgendamento></p-button>
                <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Deletar" tooltipPosition="top" (click)="confirmarCancelamentoAgendamento(agendamento.id)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </form>
    <app-inserir-agendamento-modal (pedidoSalvo)="pesquisarPedidos()" [(display)]="displayNovoAgendamento" (atualizarPedidos)="pesquisarPedidos()"></app-inserir-agendamento-modal>
    <app-editar-agendamento-modal (pedidoSalvo)="pesquisarPedidos()" [(display)]="displayEditarAgendamento" [agendamento]="selectedAgendamento"></app-editar-agendamento-modal>
    <app-detalhes-pedido-modal [(display)]="displayDetalhes" [agendamento]="selectedAgendamento"></app-detalhes-pedido-modal>
  </div>
</div>
