<p-dialog #dialog header="Detalhes do Cliente" [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '95vw', 'max-width': '480px', 'height': '60vh', 'max-height': '560' }">
  <div *ngIf="cliente">
    <p><strong>Nome:</strong> {{ cliente.nome}}</p>
    <p><strong>Celular:</strong> {{ cliente.celular | telefone}}</p>
    <p><strong>Data de Nascimento:</strong> {{ cliente.dataNascimento | date: 'dd/MM/y' }}</p>
    <p><strong>Última Visita:</strong> {{ cliente.ultimaVisita | date: 'dd/MM/y' }}</p>
    <p><strong>Último Profissional:</strong> {{ cliente.profissional?.nome ?? ' - ' }}</p>
    <p><strong>Pontos:</strong> {{ cliente.pontos }}</p>
    <p><strong>Previsão de Retorno:</strong> {{ cliente.previsaoRetorno | date: 'dd/MM/y' }}</p>
    <p-fieldset legend="Observação" class="p-mb-4">
      <p class="m-0">
        {{ cliente.observacao }}
      </p>
    </p-fieldset>
    <br>
  </div>
</p-dialog>
