<p-dialog [(visible)]="display" (onShow)="limparFiltros()" [modal]="true" [closable]="true"
  [style]="{ 'width': '40vw', 'max-width': '1280px', 'height': '55vh' }">
  <h1>Enviar Para Fila</h1>
  <form #pedidoFrorm="ngForm" (ngSubmit)="salvarPedido()">
    <div class="p-grid">
      <div class="p-fluid max-col-12 mb-3">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="nomeClienteBusca" (ngModelChange)="carregarClientes()" required />
      </div>
      <div class="p-fluid max-col-12 mb-3">
        <label for="clienteDropdown">Selecione o Cliente</label>
        <p-dropdown [options]="clientes" [(ngModel)]="clienteSelecionado" name="cliente"></p-dropdown>
      </div>
      <div class="p-fluid max-col-12 mb-3">
        <label for="profissionalDropdown">Selecione o Profissional</label>
        <p-dropdown
          [options]="profissionais" [(ngModel)]="profissionalSelecionado"  optionLabel="label"
          placeholder="Selecione um Profissional" [ngModelOptions]="{standalone: true}">
        </p-dropdown>
      </div>
      <div class="p-col-3">
        <p-button icon="pi pi-user-plus" pTooltip="Enviar Para Fila" tooltipPosition="top" type="submit"/>
      </div>
    </div>
  </form>
</p-dialog>
