<p-dialog [(visible)]="display" header="Escolha outro Profissional" [modal]="true" [closable]="true"
  [style]="{ 'width': '95vw', 'max-width': '450px', 'height': '45vh' }">
  <form #alterarProfissionalForm="ngForm" (ngSubmit)="enviarFila()">
    <div class="p-grid">
      <div class="p-fluid max-col-12 mb-3">
        <label for="profissionalDropdown"></label>
        <p-dropdown
          [options]="profissionais" [(ngModel)]="profissionalSelecionado"  optionLabel="label"
          placeholder="Selecione um Profissional" [ngModelOptions]="{standalone: true}">
        </p-dropdown>
      </div>
      <div class="p-col-3">
        <p-button label="Enviar" type="submit"/>
      </div>
    </div>
  </form>
</p-dialog>

