.button-column {
  width: 250px;
  flex-direction: row;
  text-align: center !important;
  padding: 0 !important;
}

.center-column {
  width: 250px !important;
  text-align: center !important;
  padding: 50 !important;
}

@media (max-width: 960px) {
  .profissional-column {
    width: auto;
    text-align: left !important;
    padding: 50 !important;
  }

  .button-column {
    width: auto;
    padding: 0 !important;
  }

  .button-spacing {
    margin: 2px !important; /* Ajusta o espaçamento entre botões em telas menores */
  }
}
