<app-nav-bar></app-nav-bar>
<app-caixa></app-caixa>


<!--
<app-busca-clientes></app-busca-clientes>
<app-busca-clientes></app-busca-clientes>
<app-atendimento></app-atendimento>
<app-busca-clientes></app-busca-clientes>
<app-novo-cliente></app-novo-cliente>


pronto
<app-comissoes-gerais></app-comissoes-gerais>

-->

<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <p-button icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"/>
    <p-button icon="pi pi-times" label="Não" (click)="confirmacao.reject()"/>
  </p-footer>
</p-confirmDialog>

