<p-dialog [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '95vw', 'max-width': '1280px', 'height': '75vh' }" >

  <form autocomplete="off" #profissionalForm="ngForm">
    <div class="p-grid">

      <div class="p-col-12">
         <h1>Novo Profissional</h1>
      </div>

      <div class="p-grid">
        <div class="p-fluid max-col-12 mb-3">
          <label>Nome</label>
          <input type="text" pInputText name="nome"
          [(ngModel)]="profissional.nome" required maxlength="60">
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Nome de Exibição</label>
            <input type="text" pInputText name="nomeExibicao" [(ngModel)]="profissional.nomeExibicao" maxlength="15">
          </div>
          <div>
            <label>Salario Fixo</label>
            <p-inputNumber [(ngModel)]="profissional.salarioFixo" inputId="currency-br" mode="currency" currency="BRL"
            locale="pt-BR" [minFractionDigits]="2" [maxFractionDigits]="2" name="salarioFixo"/>
          </div>
          <div>
            <label>Dia de Pagamento</label>
            <p-inputMask mask="99" name="diaPagamento" [(ngModel)]="profissional.diaPagamento" ></p-inputMask>
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Celular</label>
            <p-inputMask mask="99 99999-9999" placeholder="(xx) xxxxx-xxxx" name="celular"
            [(ngModel)]="profissional.celular" required></p-inputMask>
          </div>
          <div>
            <label>Data Nascimento</label>
            <input type="date" pInputText name="dataNascimento"
            [(ngModel)]="profissional.dataNascimento" required>
          </div>
          <div>
            <label>CPF</label>
            <p-inputMask mask="999.999.999-99" name="CPF"
            [(ngModel)]="profissional.cpf"></p-inputMask>
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Rua</label>
            <input type="text" pInputText name="rua" [(ngModel)]="endereco.logradouro" maxlength="100">
          </div>
          <div>
            <label>numero</label>
            <input type="text" pInputText name="numero" [(ngModel)]="endereco.numero" maxlength="10">
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Bairro</label>
            <input type="text" pInputText name="bairro" [(ngModel)]="endereco.bairro" maxlength="60" >
          </div>
          <div>
            <label>cep</label>
            <p-inputMask mask="99.999-999" name="cep" [(ngModel)]="endereco.cep" ></p-inputMask>
          </div>
          <div>
            <label>Complemento</label>
            <input type="text" pInputText name="complemento" [(ngModel)]="endereco.complemento" maxlength="60">
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Cidade</label>
            <input type="text" pInputText maxlength="60">
          </div>
          <div>
            <label>Estado</label>
            <input type="text" pInputText maxlength="60">
          </div>
        </div>

        <div class="p-col-3">
          <p-button class="button-spacing" icon="pi pi-save" pTooltip="salvar" tooltipPosition="top"
          [disabled]="!profissionalForm.valid" (click)="salvar()"/>
        </div>

      </div>
    </div>
  </form>
</p-dialog>
