.navbar{
  background-color: #1E88E5;
  padding: 25px;
  font-size: 25px;
  font-weight: bold;
}

.navbar-toggle{
  text-decoration: none;
  color: #fff;
}

.navbar-menu{
  background-color: #BBDEFB;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  margin: 0;
  z-index: 9999;
  font-size: 15px;
  font-weight: normal;
  list-style: none;
  padding: 0;
}

.navbar-usuario{
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #525151;
  margin-bottom: 15px;
  position: relative; /* Necessário para que o posicionamento absoluto da imagem funcione corretamente */
  display: flex; /* Para alinhar o texto e a imagem lado a lado */
  align-items: center;
}

.navbar-item{
  padding: 10px;

}

.navbar-item a{
  color: #000;
  text-decoration: none;

}

.navbar-item a:hover{
  font-weight:bold;
}

.profile-picture {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px;
  border-radius: 50%; /* Torna a imagem redonda */
  margin-left: 60px; /* Espaço entre o nome e a imagem */
  object-fit: cover; /* Garante que a imagem preencha o espaço da maneira correta */
  vertical-align: middle; /* Alinha a imagem ao meio do texto */
}

.navbar-item.ativo{
  background-color: rgb(197, 225, 233);
}
