<p-dialog header="Novo Cliente" [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '95vw', 'max-width': '1280px', 'height': '75vh' }" >
  <form autocomplete="off" #clienteForm="ngForm">
    <div class="p-grid">

      <div class="p-grid">
        <div class="p-fluid max-col-12 mb-3">
          <label>Nome</label>
          <input type="text" pInputText name="nome"
          [(ngModel)]="cliente.nome" required>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Celular</label>
            <p-inputMask mask="99 99999-9999" placeholder="(xx) xxxxx-xxxx" name="celular"
            [(ngModel)]="cliente.celular" required></p-inputMask>
          </div>
          <div>
            <label>Data Nascimento</label>
            <input type="date" pInputText name="dataNascimento"
            [(ngModel)]="cliente.dataNascimento" required>
          </div>
          <div>
            <label>Dias para retornar</label>
            <input type="text" pInputText name="diasRetorno"
            [(ngModel)]="cliente.diasRetorno" required>
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Rua</label>
            <input type="text" pInputText name="rua" [(ngModel)]="endereco.logradouro">
          </div>
          <div>
            <label>numero</label>
            <input type="text" pInputText name="numero" [(ngModel)]="endereco.numero" >
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Bairro</label>
            <input type="text" pInputText name="bairro" [(ngModel)]="endereco.bairro" >
          </div>
          <div>
            <label>cep</label>
            <p-inputMask mask="99.999-999" name="cep" [(ngModel)]="endereco.cep" ></p-inputMask>
          </div>
          <div>
            <label>Complemento</label>
            <input type="text" pInputText name="complemento" [(ngModel)]="endereco.complemento" >
          </div>
        </div>

        <div class="agrupar p-fluid mb-3">
          <div class="flex-grow-3">
            <label>Cidade</label>
            <input type="text" pInputText name="cidade" [(ngModel)]="endereco.cidade">
          </div>
          <div>
            <label>Estado</label>
            <input type="text" pInputText name="estado" [(ngModel)]="endereco.estado">
          </div>
        </div>

        <div class="p-fluid mb-3">
          <label>Obsevação</label>
          <textarea rows="5" cols="30" pInputTextarea name="observacao"
          [(ngModel)]="cliente.observacao"></textarea>
        </div>

        <div class="p-col-3">
          <p-button class="button-spacing" label="Salvar" [disabled]="!clienteForm.valid" (click)="salvar()"/>
          <p-button class="button-spacing" label="Enviar para Fila" [disabled]="!clienteForm.valid" (click)="salvarClienteEAdicionarNaFila()"/>
        </div>

      </div>
    </div>
  </form>
</p-dialog>
