.item {
  display: flex;
  vertical-align: top;
}
profile-picture {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px;
  border-radius: 50%; /* Torna a imagem redonda */
  margin-left: 60px; /* Espaço entre o nome e a imagem */
  object-fit: cover; /* Garante que a imagem preencha o espaço da maneira correta */
  vertical-align: middle; /* Alinha a imagem ao meio do texto */
}
