<p-dialog header="Editar Cliente" [(visible)]="display" [modal]="true" [closable]="true"
  [style]="{ 'width': '40vw', 'max-width': '1280px', 'height': '75vh' }">

  <form #produtoForm="ngForm">
    <div class="p-grid">
      <div class="p-fluid max-col-12 mb-3">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="produto.nome" required />
      </div>

      <div class="agrupar p-fluid mb-3">
        <div class="p-fluid max-col-6">
          <label>Categoria</label>
          <p-dropdown [options]="categorias" [(ngModel)]="categoriaSelecionada" optionLabel="label"
            placeholder="Selecione uma categoria" [ngModelOptions]="{standalone: true}">
          </p-dropdown>
        </div>
        <div class="p-fluid max-col-6">
          <label>Preço</label>
          <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" name="preco" [(ngModel)]="produto.preco" required></p-inputNumber>
        </div>
      </div>

      <div class="agrupar p-fluid mb-3">
        <div class="p-fluid max-col-6">
          <div class="align-switch p-fluid max-col-12">
            <label>Controle de Estoque</label>
            <p-inputSwitch [(ngModel)]="produto.temEstoque" name="temEstoque"></p-inputSwitch>
          </div>
          <div class="p-fluid max-col-12">
            <input type="number" pInputText name="estoque"
                  [(ngModel)]="produto.estoque" placeholder="Estoque"
                  [disabled]="!produto.temEstoque">
          </div>
        </div>
        <div class="p-fluid max-col-6">
          <div class="align-switch p-fluid max-col-12">
            <label>Vendido por Ponto</label>
            <p-inputSwitch [(ngModel)]="produto.vendidoPorPonto" name="vendidoPorPonto"></p-inputSwitch>
          </div>
          <div class="p-fluid max-col-12">
            <input type="number" pInputText name="precoEmPontos"
                  [(ngModel)]="produto.precoEmPontos" placeholder="Preço em Pontos"
                  [disabled]="!produto.vendidoPorPonto">
          </div>
        </div>
      </div>

      <div class="agrupar p-fluid mb-3">
        <div class="p-fluid max-col-6">
          <label>Multiplicador Cliente</label>
          <input type="number" pInputText name="pesoPontuacaoCliente"
          [(ngModel)]="produto.pesoPontuacaoCliente">
        </div>
        <div class="p-fluid max-col-6">
          <label>Multiplicador Profissional</label>
          <input type="number" pInputText name="pesoPontuacaoProfissional"
          [(ngModel)]="produto.pesoPontuacaoProfissional">
        </div>
      </div>
      <div class="p-fluid max-col-6 mb-3">
        <label>Comissão padrão(%)</label>
        <input type="number" pInputText name="comissaoBase"
        [(ngModel)]="produto.comissaoBase">
      </div>
      <div class="p-col-3">
        <p-button class="button-spacing" icon="pi pi-save" pTooltip="Salvar" tooltipPosition="top"
          [disabled]="!produtoForm.valid" (click)="salvar()" />
        <p-button icon="pi pi-images" pTooltip="Adicionar Fotos" tooltipPosition="top" />
      </div>
    </div>
  </form>
</p-dialog>
