<div class="container">
  <div class="p-grid">
    <form autocomplete="off">
      <div class="p-col-12 mb-3">
        <h1>{{ isAtivo ? 'Profissionais Ativos' : 'Profissionais Inativos' }}</h1>
      </div>

      <div class="p-grid">
        <div class="p-col-12 mb-3">
          <p-table [value]="profissionais" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
          [breakpoint]="'960px'">
            <ng-template pTemplate="header">
              <tr>
                <th>Nome de Exibição</th>
                <th>Nome Completo</th>
                <th>Telefone</th>
                <th class="button-column"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-profissional>
              <tr>
                <td>{{ profissional.nomeExibicao }}</td>
                <td>{{ profissional.nome }}</td>
                <td>{{ profissional.celular | telefone}}</td>
                <td class="button-column">
                  <p-button icon="pi pi-user-edit" class="button-spacing" pTooltip="Editar" tooltipPosition="top" (click)="editarProfissional(profissional)"></p-button>
                  <p-button icon="pi" [icon]="isAtivo ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    class="button-spacing" pTooltip="{{ isAtivo ? 'Inativar' : 'Ativar' }}" tooltipPosition="top"
                    (click)="confirmarAtivacaoDesativacao(profissional.id)" >
                  </p-button>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </form>

    <div class="p-col-12 mb-3">
      <p-button class="button-spacing" label="Novo Profissional" (click)="modalNovoProfissional()"/>
      <p-button class="button-spacing" label="{{ isAtivo ? 'Inativos' : 'Ativos' }}"
        tooltipPosition="top" (click)="toggleAtivo()" (click)="pesquisar()"/>
    </div>

    <app-novo-profissional [(display)]="displayNovoProfissional"></app-novo-profissional>
    <app-editar-profissional-modal *ngIf="selectedProfissional" [profissional]="selectedProfissional" [(display)]="displayEditarProfissional"></app-editar-profissional-modal>
  </div>
</div>
