.button-column {
  width: 150px;
  flex-direction: row;
  text-align: center !important;
  padding: 0 !important;
}

@media (max-width: 960px) {
  .button-column {
    width: auto;
    padding: 0 !important;
  }

  .button-spacing {
    margin: 2px !important; /* Ajusta o espaçamento entre botões em telas menores */
  }
}
